{% load static %}

<link rel="stylesheet" href="{% static 'my_site/style/global_style.css' %}">
<link rel="stylesheet" href="{% static 'my_site/style/projects_style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="NavBar">
	<div class="row">
		<div class="col-nav">
			<a href="{% url 'about' %}">About</a>
		</div>
		<div  class="col-nav">
			<a class="selected" href="{% url 'projects' %}">Projects</a>
		</div>
		<div class="col-nav">
			<a href="{% url 'resume' %}">Resume</a>
		</div>
		<div class="col-nav">
			<a href="{{ about.git_link }}"><i class="fa fa-github fa-sm"></i></a>
		</div>
		<div class="col-nav-in">
			<a href="{{ about.linkedin }}"><i class="fa fa-linkedin fa-sm"></i></a>
		</div>
	</div>
</div>
{% for project in projects %}
<div class="row">
	<div class="col-1"></div>
	<a href="{{ project.git_link }}">
		<div class="col-2">
			<h2>{{ project.title }}</h2>
			<p>{{ project.summary }}</p>
		</div>
	</a>
	<div class="col-1"></div>
</div>
{% endfor %}