.col-pic {
  height: auto;
  width: 100%;
	float: left;
	padding: 15px;
}
img {
  width: 100%;
}

.col-space {
  width: 0%;
	float: left;
	padding: 15px;
}

a {
  font-size: 50px;
  text-decoration: none;
  color: green;
  background-color: #990000;
}

@media only screen and (min-width: 675px){
	.col-pic {
		width: 50%
	}
  .col-space {
    width: 25%;
  }
}
